# Зависимости (Docker должен ставить их сам)
**/node_modules
**/venv
**/.venv
**/__pycache__

# Сборки и логи
**/build
**/dist
**/*.log

# Git и настройки IDE
.git
.gitignore
.vscode
.idea

# Секреты (лучше передавать через переменные окружения)
**/.env

